@import './colors.scss';

.view-diff {
  .menu {
    max-height: 85vh;
    overflow: scroll;
  }

  .hunk {
    &:not(:last-child) {
      margin-block-end: 1rem;
    }

    .lines {
      white-space: pre-wrap;

      .line {
        padding: 0;

        &:empty::before {
          content: '\00a0';
          position: static;
        }
      }

      .add {
        background-color: $green-dark;
      }

      .remove {
        background-color: #ab443d;
      }

      .hide {
        display: none;
      }
    }
  }
}
