@import './colors.scss';

.view-diff {
  .hljs {
    font-family: 'Menlo';
    background-color: transparent;
    z-index: 1;
    position: relative;
  }

  pre {
    position: relative;
    margin: 0;

    &:not(:last-child) {
      border-block-end: 2px solid #acb9c6;
    }
  }

  .menu:has(legend:only-child) {
    display: none;
  }

  .background-lines {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;

    span {
      display: block;
    }

    .add {
      // background-color: #34583c;
      background-color: #31683d;
    }

    .remove {
      // background-color: #733f40;
      background-color: #953c3e;
    }
  }

  .menu {
    max-height: 85%;
    overflow: auto;
    white-space: pre;
    padding: 0;
    background-color: $bg-dark;

    legend {
      width: calc(100% - 2rem);
      margin: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 0;

      span {
        padding-inline: 0.5rem;
      }
    }

    .sep {
      border-block-end: 2px solid #acb9c6;
      width: 100%;
      height: 0px;
    }
  }
}
